@import 'Style/global-import.scss';

.admin-menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $menu-width;
  background-color: $grey-dark2;
  color: white;
  font-family: $font-kr;
  border-right: 1px solid $grey-dark2;

  .admin-menu-profile {
  }

  ul {
    li {
      font-family: $font-kr;
      font-size: 16px;
      font-weight: 500;
      padding: 10px;
      background-color: $grey-dark2;
      border-bottom: 1px solid lighten($grey-dark2, 10%);
      cursor: pointer;
    }

    li:hover {
      background-color: $grey-dark1;
    }

    li.admin-menu-highlighted {
      background-color: lighten($grey-dark2, 10%);
    }
  }

  .admin-menu-logout {
    font-family: $font-kr;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
  }
}
