$theme-color1: #f4a5a1;
$theme-color2: #1abcbd;
$theme-color3: #014254;
$theme-color4: #ffc400;

$grey-dark1: #242424;
$grey-dark2: #3b3b3b;
$grey-light: #eeeeee;
$grey: #808080;

// padding 값 통일.
$padd: 30px;

// admin menu 레이아웃을 위한 공통 width 값 적용
$menu-width: 160px;

$imgsrc: '';

$test-green: (
  name: '.selectGreen',
  text-color: black,
  bg-color: green,
);

$test-red: (
  name: '.selectRed',
  text-color: black,
  bg-color: red,
);

$color-mods: $test-green, $test-red;
