
$theme-color1 : #F4A5A1;
$theme-color2 : #1ABCBD;
$theme-color3 : #014254;
$theme-color4 : #FFC400;

$grey-dark1 : #3c3c3c;
$grey-dark2 : #636363;
$grey-light : #eeeeee;
$grey : #808080;

// padding 값 통일.
$padd : 24px;

// admin menu 레이아웃을 위한 공통 width 값 적용
$menu-width: 160px;


$imgsrc : '';


