// ---------------------------------------------------------------------------
//
// 글로벌 css 속성 지정용 scss 파일입니다.
//
// ---------------------------------------------------------------------------

/*-------------- font import ------------------*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Lato:400,900|Roboto:300,700|Noto+Sans+KR:400,900&display=swap');
@import 'Style/global-import.scss';

/*---------------- global style ----------------*/

#root .root-apps {
  width: 100%;
  height: 100%;

  .admin-common-wrapper {
    display: flex;
    height: 100%;

    .admin-col-1 {
      flex: 0 0 $menu-width;
    }

    .admin-col-2 {
      flex: 1 0 768px;
      background-color: $grey-dark1;
      height: 100%;
      padding: 20px 50px;
    }

    .admin-col-3 {
      flex: 0 0 400px;
      background-color: $grey-dark1;
      height: 100%;
    }
  }
}
